<hr />
<div id="footer">
  <p> &lt;/&gt; with &hearts; by richmartins@EPFL ©2018</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="assets/bootstrap-4.0.0-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/scriptjquery.js" type="text/javascript"></script>
