<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white"><a class="text-white" href="index.php">EnacPack</a></h4>
      <span class="text-muted">Login</span><br />
      <span class="text-muted">Contact us</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<div class="jumbotron jumbotron-fluid custjumbotron">
  <div class="container">
    <h1 class="display-3">EnacPack</h1>
    <p class="lead">For easy and fast installation<br />
                    Check the box(es) of app's that you want to install and then just click [install it] and follow the lead in the next page</p>
  </div>
</div>
