<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
  </head>
  <body>
    <div id="container">
      <div class="header">
        <!--<div class="headItm"><img  alt="EnacLogo" src="images/enacit3Logo.jpeg"/></div>-->
        <div class="headItm"><h1>EnacPack</h1></div>
        <div class="headItm"><img alt="EpflLogo" src="images/Logo_EPFL.png"/ width="173px" height="169px"></div>
      </div>
      <div class="blabla">
        <p>
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        </p>
      </div><hr />
      <div class="flex-item">
        <div class="selectZ">
          <input type=radio name="#"/><label>Firefox</label>
          <input type=radio name="#"/><label>VLC</label>
          <input type=radio name="#"/><label>Teamviewer</label>
        </div>
        <div>
          <button type="#" name="#">#</button>
          <button type="#" name="#">#</button>
        </div>
      </div><hr />
      <div>
        <p>Richard©</p>
      </div>
    </div>
    <script type="text/javascript" href="scripts/script.js"></script>
  </body>
</html>
