<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
  </head>
  <body>
    !header!
      <div class="flex-item">
        <div class="selectZ">
          <img alt="firefox" src="./images/LogoAPP/firefox.png" width="40px" height="40px"/>
          <label>Firefox</label><br />
          <input type=radio name="#"/>
        </div>
          <input type=radio name="#"/><label>VLC</label>
          <input type=radio name="#"/><label>Teamviewer</label>
        </div>
        <div>
          <button type="#" name="#">Install</button>
          <button type="#" name="#">#</button>
        </div>
      </div><hr />
      !footer!
    </div>
    <script type="text/javascript" href="scripts/script.js"></script>
  </body>
</html>
