@charset "UTF-8";

body {
  text-align: center;
  padding: 0;
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.headItm {
  order: <integer>;
  margin: 10px 90px;
  align-self: flex-end;
}

.headItm h1 {
  margin: 0;
}

.card {

  padding: 5px;

  width: 80px;
  height: 80px;

  border-style: solid;
  border-width: 1px 1px 1px;


}

/*david catz CSS */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 20px;
}

.vue-btn {
  color: #fff;
  background-color: #41B783;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.form {
  text-align: left;
}

.card {
  text-align: left;
  border: 1px solid #2c3e50;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.note {
  padding: 5px;
}
