@charset "UTF-8";

body {
  padding: auto;
}

.headerImg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.headItem{
  order: <integer>;
  margin: auto;
  align-self: flex-end;
}

.container {
  padding: 0px 75px;
  margin: auto;
}

div.card-deck{
  padding: 20;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}
.card-img-top {
  margin: auto;
}

@media (min-width:34em) {
    .card-deck > .card
    {
        width: 10rem;
        margin: auto;
        margin-top: 10px;
        padding-top: 5px;
        flex-wrap: wrap;
        flex: initial;
        text-align: center;
    }
}

div.card-deck div.card .card-text {
  text-align: center;
}

#footer {
  text-align: center;
}
